.container {
  position: relative;
  grid-template: 
    "newset category" auto
    "newset popular" 1fr / 2fr 1fr;
  gap: 3rem 4rem;
}

.content {
  grid-area: newset;
}

.category {
  grid-area: category;
}

.popular {
  grid-area: popular;
}