@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-default: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
}
[data-theme='dark'] {
  --color-default: #252b30;
}
[data-theme='black'] {
  --color-default: #000000;
}

/* 页面定位时部分内容会被header挡住，滚动条滚动到地址 hash 
（地址 # 号后面的内容）对应的锚点元素 padding-box上边缘位置。 */

/* bug: post页面切换主题时会向上滚动6rem的距离 */
html {
  scroll-padding-top: 6rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
}

a {
  text-decoration: none;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
