@tailwind base;
@tailwind components;
@tailwind utilities;

/* 页面定位时部分内容会被header挡住，滚动条滚动到地址 hash 
（地址 # 号后面的内容）对应的锚点元素 padding-box上边缘位置。 */
html {
  scroll-padding-top: 6rem;
}

a {
  text-decoration: none;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

:root {
  --color-default: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-default: #252b30;
  }
}
[data-theme='dark'] {
  --color-default: #252b30;
}
[data-theme='black'] {
  --color-default: #000000;
}
[data-theme='🌸'] {
  --color-default: #ffabc8;
}
[data-theme='🐬'] {
  --color-default: #7ec6ff;
}
[data-theme='🐤'] {
  --color-default: #ffd65a;
}
